body {
    margin: 40;
    font-family: Arial, sans-serif;
    background-color: #fffaf0; /* bege claro */
}

header {
    background-color: #ffeb99; /* amarelo claro */
    padding: 15px;
    display: flex;
    align-items: center;
}

header img {
    height: 60px;
    margin-right: 20px;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

nav a:hover {
    color: #000;
}

.container {
    padding: 40px;
}

.card {
    background-color: white;
    border: 2px solid #f0e0c0;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}
